{% extends "base.html" %}
{% block app_content %}

<body>
<table class="table table-dark table-striped table-sm" style="margin-top:10px"  data-page-size="50">
    <thead class="thead-dark">
    <tr>
        <th colspan="2" class="text-center">{{ player1.username }}</th>
        <th colspan="2" class="text-center">{{ player2.username }}</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <th class="text-center">Statistic</th>
        <th >Value</th>
        <th >Value</th>
        <th >Statistic</th>
    </tr>
    <tr>
        <td class="text-center">Lifetime Wins</td>
        <td>{{ player1.lifetime_wins }}</td>
        <td>{{ player2.lifetime_wins }}</td>
        <td>Lifetime Wins</td>
    </tr>
    <tr>
        <td class="text-center">Goals</td>
        <td>{{ player1.goals }}</td>
        <td>{{ player2.goals }}</td>
        <td>Goals</td>
    </tr>
    <tr>
        <td class="text-center">Saves</td>
        <td>{{ player1.saves }}</td>
        <td>{{ player2.saves }}</td>
        <td>Saves</td>
    </tr>
    <tr>
        <td class="text-center">Assists</td>
        <td>{{ player1.assists }}</td>
        <td>{{ player2.assists }}</td>
        <td>Assists</td>
    </tr>
    <tr>
        <td class="text-center">mVP's</td>
        <td>{{ player1.mvps }}</td>
        <td>{{ player2.mvps }}</td>
        <td>mVP's</td>
    </tr>
    <tr>
        <td class="text-center">Goal - shot Ratio</td>
        <td>{{ player1.goal_shot_ratio }}</td>
        <td>{{ player2.goal_shot_ratio }}</td>
        <td>Goal - shot Ratio</td>
    </tr>
    </tbody>
</table>
</body>
{% endblock %}