{% extends "base.html" %}
{% block content %}
<head><title>Rocket League Stats Comparator</title></head>

<body>
<table>
    <tr>
        <th colspan="2">{{ player1.username }}</th>
        <th colspan="2">{{ player2.username }}</th>
    </tr>
    <tr>
        <th>Statistics</th>
        <th>Value</th>
        <th>Value</th>
        <th>Statistic</th>
    </tr>
    <tr>
        <td>Lifetime Wins</td>
        <td>{{ player1.lifetime_wins }}</td>
        <td>{{ player2.lifetime_wins }}</td>
        <td>Lifetime Wins</td>
    </tr>
    <tr>
        <td>Goals</td>
        <td>{{ player1.goals }}</td>
        <td>{{ player2.goals }}</td>
        <td>Goals</td>
    </tr>
    <tr>
        <td>Saves</td>
        <td>{{ player1.saves }}</td>
        <td>{{ player2.saves }}</td>
        <td>Saves</td>
    </tr>
    <tr>
        <td>Assists</td>
        <td>{{ player1.assists }}</td>
        <td>{{ player2.assists }}</td>
        <td>Assists</td>
    </tr>
    <tr>
        <td>mVP's</td>
        <td>{{ player1.mvps }}</td>
        <td>{{ player2.mvps }}</td>
        <td>mVP's</td>
    </tr>
    <tr>
        <td>Goal - shot Ratio</td>
        <td>{{ player1.goal_shot_ratio }}</td>
        <td>{{ player2.goal_shot_ratio }}</td>
        <td>Goal - shot Ratio</td>
    </tr>
</table>
</body>
{% endblock %}