{% extends "base.html" %}
{% block content %}
<body>
<form action="" method="POST">
    <p>
    <div class="input text">
        {{ form.username.label }}
        {{ form.username(size=32) }}
    </div>
    <label for="platform">Choose a platform:</label>

    <select name="platform" id="platform">
        <option value="xbl">Xbox</option>
        <option value="steam">Steam</option>
        <option value="psn">Playstation</option>
    </select>
    </p>
    <p>
    <div class="input text">
        {{ form.username2.label }}
        {{ form.username2(size=32) }}
    </div>
    <label for="platform2">Choose a platform:</label>

    <select name="platform2" id="platform2">
        <option value="xbl">Xbox</option>
        <option value="steam">Steam</option>
        <option value="psn">Playstation</option>
    </select>
    </p>
    <p>

    </p>
    <input type="submit">
</form>
</body>
{% endblock %}


</form>
