{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<head><title>Rocket League Stats Comparator</title></head>

<body>
<form action="" method="POST" role="form">
    <p>
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(size=32) }}
    </div>
    <div class="form-group">
        {{ form.platform.label }}
        {{ form.platform }}
    </div>
    </p>
    <p>
    <div class="form-group">
        {{ form.username2.label }}
        {{ form.username2(size=32) }}
    </div>
    <div class="form-group">
        {{ form.platform2.label }}
        {{ form.platform2 }}
    </div>
    </p>
    <p>

    </p>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</body>
{% endblock %}


</form>
